:root {
  --color-green-light: #90ee90;
  --color-green-medium: #008000;
  --color-green-dark: #006400;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f3f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-red-dark-1: #ff0000;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

input:focus,
select:focus, .form-control:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.header {
  height: 7rem;
  background-color: #FFF;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.header-logo {
  height: 4.25rem;
  margin-left: 2rem; }

.header-search-bar {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header-search-bar__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .header-search-bar__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .header-search-bar__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .header-search-bar__input:focus + .header-search-bar__button {
    background-color: var(--color-grey-light-3); }
  .header-search-bar__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .header-search-bar__button:focus {
      outline: none; }
    .header-search-bar__button:active {
      transform: translateY(2px); }
  .header-search-bar__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.header-user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: inherit; }
  .header-user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .header-user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .header-user-nav__icon-box {
    position: relative; }
  .header-user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2); }
  .header-user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-red-dark-1);
    color: #FFF;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header-user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
    .header-user-nav__user-photo-no-border-radius {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 0%;
      margin-right: 1rem;
      margin-left: 1rem; }
  .header-user-nav__user-name {
    text-decoration: none;
    color: inherit;
    font-size: inherit; }

.niviem-logo {
  margin-left: 1.5rem;
  font-size: 2em;
  text-align: center;
  font-weight: 600;
  color: #353239; }

.niviem-logo span span {
  color: tomato;
  position: relative;
  bottom: -1em;
  opacity: 0;
  animation: move-text 0.75s forwards; }

.niviem-logo span span:nth-child(2n) {
  color: lightseagreen; }

.niviem-logo span span:nth-child(3n) {
  color: orange; }

.niviem-logo span span:nth-child(4n) {
  color: dodgerblue; }

.niviem-logo span span:nth-child(5n) {
  color: blueviolet; }

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1; }
  50% {
    bottom: 0.2em; }
  100% {
    bottom: 0;
    opacity: 1; } }

@media screen and (max-width: 500px) {
  body {
    transform: scale(0.75); } }

.container {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sidebar-nav {
  font-size: 1.2rem;
  list-style: none;
  margin-top: 1rem; }
  .sidebar-nav__item {
    position: relative; }
    .sidebar-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .sidebar-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .sidebar-nav__item:hover::before, .sidebar-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar-nav__link:link, .sidebar-nav__link:visited {
    color: var(--color-grey-dark-2);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 2rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .sidebar-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.copyright-text {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }

.sidebar-active-item {
  font-weight: 600; }

.sidebar-header {
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: .3rem;
  min-height: 6.5rem; }
  .sidebar-header__button {
    margin: 1rem 0;
    color: #FFFFFF;
    background-color: green;
    padding: .5rem;
    border-radius: 2rem;
    border: none;
    transition: all .5s; }
    .sidebar-header__button:hover {
      cursor: pointer;
      background-color: #00a800; }
  .sidebar-header__input {
    border-radius: 3rem;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .5rem 2rem; }
    .sidebar-header__input:first-child {
      margin-bottom: 1rem; }
  .sidebar-header__register {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase; }

.main-view {
  background-color: var(--color-grey-light-2);
  flex: 1;
  margin: 1rem;
  background: #FFFFFF;
  min-height: 100vh; }

.home-page__categories {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem; }

.auth-page {
  margin: 3rem auto;
  width: 90%;
  padding: 5rem 0;
  background-color: white;
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  display: grid;
  align-items: center;
  align-content: center; }
  .auth-page-form {
    display: flex;
    flex-direction: column; }
    .auth-page-form__header {
      align-self: center;
      font-size: 1.4rem;
      grid-column: 1/-1;
      text-transform: uppercase;
      margin-bottom: 2rem;
      grid-row: 1/2;
      background-color: #fff;
      border-bottom: var(--color-grey-light-2);
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .auth-page-form__input {
      padding: 1rem;
      font-weight: 100;
      width: 21vw;
      margin: .5rem auto;
      border-radius: 300px;
      background-color: var(--color-grey-light-2);
      border: none;
      outline: none; }
    .auth-page-form__button {
      padding: 1rem;
      text-transform: uppercase;
      font-weight: 100;
      width: 20vw;
      margin: .5rem auto;
      border-radius: 300px;
      background-color: purple;
      color: white;
      border: none;
      transition: all .5s; }
      .auth-page-form__button:hover {
        cursor: pointer;
        background-color: mediumpurple; }
  .auth-page__terms-of-use {
    grid-column: 1/-1;
    padding: 1rem;
    text-align: justify; }
    .auth-page__terms-of-use-header {
      text-align: center;
      font-weight: 100; }
    .auth-page__terms-of-use-paragraph {
      font-size: 1.4rem;
      padding: 2rem; }

.first-and-last-name-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .first-and-last-name-container__input {
    padding: 1rem;
    font-weight: 100;
    width: 10vw;
    margin: .5rem .5rem;
    border-radius: 300px;
    background-color: var(--color-grey-light-2);
    border: none;
    outline: none; }

.admin-container {
  padding: 2rem;
  display: grid;
  grid-gap: 1rem; }

.category-item-admin-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.4rem;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 1rem;
  align-items: center; }

.category-item-admin-paragraph {
  margin-left: 1.4rem; }

.category-item-admin-button--delete {
  text-decoration: none;
  color: #FFFFFF;
  padding: 1.3rem;
  margin-left: 1rem;
  border: none;
  text-align: center;
  background: red; }

.category-item-admin-button--delete:hover {
  cursor: pointer; }

.category-item-admin-button--change {
  text-decoration: none;
  color: #FFFFFF;
  padding: 1rem;
  margin-left: 1rem;
  border: none;
  text-align: center;
  background: green; }

.thumb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  marginTop: 16; }

.thumb {
  display: inline-flex;
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box; }

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden; }

.upload-image-preview {
  display: block;
  width: auto;
  height: 100%; }

.category-card {
  background-image: linear-gradient(to bottom, #eaeaea, #f0f0f0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-decoration: none; }
  .category-card:hover {
    cursor: pointer; }
  .category-card__image {
    margin-top: 2rem;
    height: 17rem;
    width: 23rem;
    object-fit: contain; }
  .category-card__header {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 2rem;
    color: #454545;
    font-weight: 300;
    align-items: center; }

.heading-1 {
  font-weight: 400;
  color: var(--color-grey-light-1);
  font-size: 2.5rem;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.subcategories-header {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  grid-template-columns: 10rem max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-grey-dark-1); }
  .subcategories-header::before, .subcategories-header::after {
    content: "";
    height: .8px;
    display: block;
    background-color: currentColor; }

.ads-results-container {
  display: grid;
  column-count: 1;
  grid-template-columns: 1fr 28rem;
  margin-top: 1.5rem; }
  .ads-results-container__sidebar__search {
    margin-left: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #bbbbbb;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: .3rem;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 2rem; }
    .ads-results-container__sidebar__search__input {
      border: 1px solid var(--color-grey-light-4);
      border-right: none;
      padding: 1rem;
      font-size: inherit; }
    .ads-results-container__sidebar__search__button {
      border: none;
      border-left: none;
      border-bottom-right-radius: .3rem;
      border-top-right-radius: .3rem;
      background-color: green;
      color: white;
      font-size: inherit;
      padding: 1.05rem;
      transition: all .3s; }
      .ads-results-container__sidebar__search__button:hover {
        cursor: pointer;
        background-color: #ba1f2c; }
  .ads-results-container__header {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #bbbbbb;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: .3rem; }
    .ads-results-container__header__header {
      margin-right: auto; }
    .ads-results-container__header__sort-by {
      margin-left: 1rem;
      margin-right: 1rem; }

.ads-result-card {
  display: flex;
  margin: 2rem;
  margin-bottom: 0;
  background-color: white; }
  .ads-result-card__left {
    height: 20rem;
    width: 28rem; }
    .ads-result-card__left__image {
      border: 1px solid #bbbbbb;
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
      border-right: none;
      width: 28rem;
      height: 100%;
      object-fit: cover; }
  .ads-result-card__right {
    border: 1px solid #bbbbbb;
    border-left: none;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    width: 100%;
    display: grid; }
    .ads-result-card__right__text {
      font-size: 1.3rem;
      color: var(--color-grey-dark-1); }
    .ads-result-card__right__top {
      border-bottom: 1px solid #bbbbbb;
      padding: 2rem; }
      .ads-result-card__right__top__heading {
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--color-grey-dark-1);
        margin-bottom: .3rem; }
      .ads-result-card__right__top__info-container {
        display: flex;
        align-items: center;
        margin-left: -.5rem;
        margin-bottom: 1rem; }
        .ads-result-card__right__top__info-container__item {
          margin-right: 1.4rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: all .3s; }
          .ads-result-card__right__top__info-container__item__icon {
            width: 1.45rem;
            height: 1.45rem;
            fill: var(--color-grey-dark-3); }
          .ads-result-card__right__top__info-container__item__button {
            border: none;
            color: var(--color-grey-dark-3);
            font-size: 1.2rem;
            background-color: transparent;
            margin-left: .2rem;
            display: inline-block;
            cursor: pointer;
            transition: all .3s; }
            .ads-result-card__right__top__info-container__item__button-2 {
              border: none;
              color: var(--color-grey-dark-3);
              font-size: inherit;
              font-size: 1.2rem;
              background-color: transparent;
              display: inline-block;
              margin-left: .4rem;
              cursor: pointer;
              transition: all .3s; }
    .ads-result-card__right__bottom {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem; }
      .ads-result-card__right__bottom__price {
        margin-right: auto;
        font-size: 1.4rem;
        color: var(--color-grey-dark-1);
        font-weight: 600; }

.ads-result-search-form-text {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-grey-light-4); }

.ads-result-checkboxes-container {
  flex: 1; }

.ads-result-checkboxes {
  margin-top: 1rem; }

.checkbox-numbers {
  display: flex;
  align-items: center;
  width: 23rem; }

.checkbox-number {
  background-color: var(--color-grey-light-2);
  margin-left: auto;
  text-align: center;
  width: 2.4rem;
  border-radius: .3rem; }

.create-listing-page-container {
  padding: 1.5rem;
  margin: 1.5rem auto;
  width: 80%;
  display: grid;
  grid-gap: 1rem; }

.create-listing-container {
  border: 1px solid #e2e2e2;
  width: 80%;
  margin: 5rem auto;
  padding-top: 2rem; }

.create-listing-price-value-container {
  display: grid;
  grid-template-columns: 3fr .5fr;
  grid-gap: 1rem; }

.create-listing-text-input {
  height: 35px;
  border: 1px solid #F2F2F2;
  border-radius: 50px;
  border: 1px solid #F2F2F2;
  width: 100%;
  padding: .25rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 1rem; }

.create-listing-form-step {
  display: flex;
  flex-direction: column; }

.qa-collapse {
  background-color: whitesmoke; }

.qa-input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none !important;
  border: 1px solid #F2F2F2;
  width: 82%;
  padding: .25rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.qa-search {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #E01E34;
  border: 1px solid #E01E34;
  padding: .2rem .75rem; }

input[type="text"].qa-input::-webkit-input-placeholder {
  color: red;
  font-size: 80%; }

.qa-search img {
  margin-top: -3px; }

.qa-form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center; }

.qa-track-trace p {
  font-size: 12px;
  padding: 0 2.6rem 0 0.7rem;
  color: #999999; }

.nav-tabs {
  border: 0px; }

.nav-tabs .nav-link.active {
  border: 0px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  border-color: transparent; }

.nav-tabs .nav-link:hover {
  border-color: transparent; }

.nav-tabs .nav-link {
  border: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: transparent; }

.qa-send-lp-tab {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  padding: 0rem 1rem; }

.qa-send-lp-tab:hover {
  color: rgba(0, 0, 0, 0.7); }

.qa-send-lp-tab.active {
  color: #E11F34 !important; }

.qa-track-trace p {
  font-size: 12px;
  padding: 0 2.6rem 0 0.7rem;
  color: #999999; }

.qa-input-full {
  border-radius: 50px;
  border: 1px solid #F2F2F2;
  width: 100%;
  padding: .25rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

input[type="text"].qa-input-full::-webkit-input-placeholder {
  color: red;
  font-size: 80%; }

input[type="text"].qa-input-full::-webkit-input-placeholder {
  color: red;
  font-size: 80%; }

.qa-dropdown {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #E01E34;
  border: 1px solid #E01E34;
  padding: .20rem .75rem; }

.qa-dropdown img {
  margin-top: -3px; }

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* background: url(../img/dropdown-2.svg); */
  /* background: url(../img/dropdown.svg); */
  /*background-position: 91.5% 50%; */
  background: #fff url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 24 24'><path fill='grey' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") no-repeat 95% 50%;
  margin-bottom: 1rem; }

select.form-control:not([size]):not([multiple]) {
  height: 35px;
  border: 1px solid #F2F2F2;
  border-radius: 50px;
  border: 1px solid #F2F2F2;
  width: 100%;
  padding: .25rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.styled-select {
  font-size: 12px; }

.create-listing-buttons-wrapper {
  display: flex;
  justify-content: space-between; }

.create-listing-next-button {
  background: #a6ce39;
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in;
  margin-top: 1rem; }
  .create-listing-next-button:hover {
    background: #b6e23f;
    cursor: pointer; }

.create-listing-next-button:disabled,
create-listing-next-button[disabled] {
  background: #e2e2e2;
  cursor: initial; }

.crete-listing-back-button {
  margin-top: 1rem;
  background: #a6ce39;
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in; }
  .crete-listing-back-button:hover {
    background: #b6e23f;
    cursor: pointer; }

.crete-listing-back-button:disabled,
crete-listing-back-button[disabled] {
  background: #e2e2e2;
  cursor: initial; }

.step-bar-container {
  max-width: 980px;
  margin: 1em; }

.step-bar {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%; }

.step-bar__item {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  text-decoration: none;
  color: #333;
  background-color: #dfdfdf;
  text-align: center;
  position: relative;
  border-right: 2px solid #fff;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.step-bar__item p,
.step-bar__item p:visited,
.step-bar__item p:hover {
  display: block;
  padding: 10px 15px 9px 25px;
  text-decoration: none;
  color: #333; }

.step-bar__item:before,
.step-bar__item:after {
  content: "";
  height: 0;
  width: 0;
  border-width: 18px 0 18px 18px;
  border-style: solid;
  position: absolute;
  left: 100%;
  top: 0; }

.step-bar__item:before {
  border-color: transparent transparent transparent #fff;
  left: 0; }

.step-bar__item:after {
  border-color: transparent transparent transparent #dfdfdf;
  z-index: 1; }

.step-bar__item:first-child:before {
  display: none; }

.step-bar__item:last-child {
  border-right: none; }

.step-bar__item:last-child:after {
  display: none; }

.step-bar__item:hover {
  background-color: #d4d4d4; }

.step-bar__item:hover:after {
  border-left-color: #d4d4d4; }

.step-bar__item_active {
  background-color: #a6ce39;
  color: #fff;
  cursor: default;
  font-weight: bold;
  pointer-events: none; }

.step-bar__item_active p,
.step-bar__item_active p:visited,
.step-bar__item_active p:hover {
  text-decoration: none;
  color: #fff; }

.step-bar__item_active:after {
  border-color: transparent transparent transparent #a6ce39; }

.step-bar__item_active:hover {
  background-color: #a6ce39; }

.step-bar__item_active:hover:after {
  border-left-color: #a6ce39; }

.step-bar_size_xl .step-bar__item p,
.step-bar_size_xl .step-bar__item p:visited,
.step-bar_size_xl .step-bar__item p:hover {
  padding: 10px 31px 9px 53px; }

.step-bar_size_xl .step-bar__item:before,
.step-bar_size_xl .step-bar__item:after {
  border-width: 27px 0 27px 27px; }

.checkbox-list-create-listing {
  list-style: none; }

.create-listing-preview {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.details-card-create-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.create-listing-details-container {
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.create-listing-details-header {
  grid-column: 1/5; }

.listing-header-wrapper {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.listing-page-container {
  padding: 2rem; }

.listing-page-top-container {
  margin-bottom: 2rem;
  display: flex; }

.gallery-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 2rem; }

.gallery-main-image {
  height: 30rem;
  width: 35rem;
  object-fit: cover;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px dotted lightgray; }

.gallery-thumbnail-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr); }

.gallery-thumbnail-image {
  height: 6rem;
  width: 7.5rem;
  object-fit: cover; }

.listing-details-heading {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-size: 1.3rem; }

.listing-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-left: 1rem; }

.listing-seller-data {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem; }

.listing-price {
  color: green;
  font-size: 1.5rem;
  font-weight: 600; }

.listing-banner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 2rem; }

.listing-banner {
  height: 6rem;
  align-self: flex-end;
  float: right;
  border: 1px dotted lightgray;
  padding: 1rem; }

.inputsCreationCard {
  border: 1px solid grey;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap; }
  .inputsCreationCard__item {
    margin-bottom: 1rem; }
