
.container {
  //max-width: 150rem;
  //margin: 8rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  //background-color: #f1f5fd;

  min-height: 50rem;
}

.content {
  display: flex;
}