
.sidebar {
  //background-color: var(--color-grey-dark-1);
  //background-color: #FFFFFF;

  flex: 0 0 16%;
  //margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav {

  font-size: 1.2rem;
  list-style: none;
  margin-top: 1rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    //background-color: var(--color-green-light);
    transform: scaleY(0);
    transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    //background-color: var(--color-green-medium);
  }

  &__link:link,
  &__link:visited {
    //color: var(--color-grey-light-1);
    color: var(--color-grey-dark-2);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 2rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}

.copyright-text {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}

.sidebar-active-item {
  font-weight: 600;
}

.sidebar-header {
  //margin-top: 1rem;
  //border: 1px solid #bbbbbb;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  //margin: 0 2rem 2rem 1rem;
  margin-left: 1rem;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: .3rem;
  min-height: 6.5rem;

  //justify-content: center;

  &__button {
    margin: 1rem 0;
    color: #FFFFFF;
    background-color: green;
    padding: .5rem;
    border-radius: 2rem;
    border: none;
    transition: all .5s;

    &:hover {
      cursor: pointer;
      background-color: #00a800;
    }
  }

  &__input {
    border-radius: 3rem;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .5rem 2rem;

    &:first-child {
      margin-bottom: 1rem;
    }
  }

  &__hint {

  }

  &__register {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }
}