
.category-card {
  background-image: linear-gradient(to bottom, #eaeaea, #f0f0f0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &__image {
    margin-top: 2rem;
    height: 17rem;
    width: 23rem;
    object-fit: contain;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 2rem;
    color: #454545;
    font-weight: 300;
    align-items: center;
  }
}