
.header {
  height: 7rem;
  background-color: #FFF;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4rem;
}

.header-logo{
  height: 4.25rem;
  margin-left: 2rem;
}

.header-search-bar{

  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.header-user-nav {

  align-self: stretch;

  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: inherit;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-red-dark-1);
    color: #FFF;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;

    &-no-border-radius {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 0%;
      margin-right: 1rem;
      margin-left: 1rem;
    }

  }

  &__user-name {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }

}

.niviem-logo {
  margin-left: 1.5rem;
  font-size: 2em;
  text-align: center;
  font-weight: 600;
  color: #353239;
}

.niviem-logo span span {
  color: tomato;
  position: relative;
  bottom: -1em;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

.niviem-logo span span:nth-child(2n) { color: lightseagreen; }
.niviem-logo span span:nth-child(3n) { color: orange; }
.niviem-logo span span:nth-child(4n) { color: dodgerblue; }
.niviem-logo span span:nth-child(5n) { color: blueviolet; }

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }

  50% {
    bottom: 0.2em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}


@media screen and (max-width: 500px) {
  body {
    transform: scale(0.75);
  }
}