
.thumb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  marginTop: 16;
}

.thumb {
  display: inline-flex;
  border-radius: 2px;
  //border: 1px solid #eaeaea;
  margin-top: 1rem;
  margin-bottom: 1rem;
  //margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.upload-image-preview {
  display: block;
  width: auto;
  height: 100%;
}