
.inputsCreationCard {
  border: 1px solid grey;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 1rem;
  }
}
