.heading-1 {
  font-weight: 400;
  color: var(--color-grey-light-1);
  font-size: 2.5rem;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.subcategories-header {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  grid-template-columns: 10rem max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;

  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-grey-dark-1);

  &::before,
  &::after {
    content: "";
    height: .8px;
    display: block;
    background-color: currentColor;
  }
}
