

.category-item-admin-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.4rem;
    border: 1px solid black;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.category-item-admin-paragraph {
    margin-left: 1.4rem;
}

.category-item-admin-button {

    &--delete {
        text-decoration: none;
        color: #FFFFFF;
        padding: 1.3rem;
        margin-left: 1rem;
        border: none;
        text-align: center;
        background: red;
    }

    &--delete:hover {
        cursor: pointer;
    }

    &--change {
        text-decoration: none;
        color: #FFFFFF;
        padding: 1rem;
        margin-left: 1rem;
        border: none;
        text-align: center;
        background: green;
    }
}