
.auth-page {
  margin: 3rem auto;
  width: 90%;
  padding: 5rem 0;
  background-color: white;
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  display: grid;
  align-items: center;
  align-content: center;

  &-form {

    display: flex;
    flex-direction: column;

    &__header {
      align-self: center;
      font-size: 1.4rem;
      grid-column: 1/-1;
      text-transform: uppercase;
      margin-bottom: 2rem;
      grid-row: 1/2;
      background-color: #fff;
      border-bottom: var(--color-grey-light-2);

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__input {
      padding: 1rem;
      font-weight: 100;
      width: 21vw;
      margin: .5rem auto;
      border-radius: 300px;
      background-color: var(--color-grey-light-2);
      border: none;
      outline: none;
    }

    &__button {
      padding: 1rem;
      text-transform: uppercase;
      font-weight: 100;
      width: 20vw;
      margin: .5rem auto;
      border-radius: 300px;
      background-color: purple;
      color: white;
      border: none;
      transition: all .5s;

      &:hover {
        cursor: pointer;
        background-color: mediumpurple;
      }
    }

    &__forgot-password {

    }
  }

  &__terms-of-use {
    grid-column: 1/-1;
    padding: 1rem;
    text-align: justify;

    &-header {
      text-align: center;
      font-weight: 100;
    }

    &-paragraph {
      font-size: 1.4rem;
      padding: 2rem;
    }
  }
}

.first-and-last-name-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    padding: 1rem;
    font-weight: 100;
    width: 10vw;
    margin: .5rem .5rem;
    border-radius: 300px;
    background-color: var(--color-grey-light-2);
    border: none;
    outline: none;
  }
}