
.create-listing-page-container {
    //border: 1px dotted black;
    padding: 1.5rem;
    margin: 1.5rem auto;
    width: 80%;
    display: grid;
    grid-gap: 1rem;
    //justify-content: center;
    //align-content: center;
    //flex-direction: column;

}

.create-listing-container{
    border: 1px solid #e2e2e2;
    width: 80%;
    margin: 5rem auto;
    padding-top: 2rem;
}

.create-listing-price-value-container {
    display: grid;
    grid-template-columns: 3fr .5fr;
    grid-gap: 1rem;

}

.create-listing-text-input {
    height: 35px;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    width: 100%;
    padding: .25rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 1rem;
}

.create-listing-form-step {
    display: flex;
    flex-direction: column;
}

.listing-page-dropdown-list {

}

.qa-collapse {
    background-color: rgb(245, 245, 245);
}

.qa-input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none !important;
    border: 1px solid #F2F2F2;
    width: 82%;
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.qa-search {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #E01E34;
    border: 1px solid #E01E34;
    padding: .2rem .75rem;
}

input[type="text"].qa-input::-webkit-input-placeholder {
    color: red;
    font-size: 80%;
    //font-family: PosLight;
}

.qa-search img {
    margin-top: -3px;
}

.qa-form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.qa-track-trace p {
    //font-family: PosLight;
    font-size: 12px;
    padding: 0 2.6rem 0 0.7rem;
    color: #999999;
}

.nav-tabs {
    border: 0px;
}

.nav-tabs .nav-link.active {
    border: 0px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-link {
    border: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: transparent;
}

.qa-send-lp-tab {
    color: rgba(0, 0, 0, .5);
    display: block;
    padding: 0rem 1rem;
}

.qa-send-lp-tab:hover {
    color: rgba(0, 0, 0, .7);
}

.qa-send-lp-tab.active {
    color: #E11F34 !important;
}

.qa-track-trace p {
    //font-family: PosLight;
    font-size: 12px;
    padding: 0 2.6rem 0 0.7rem;
    color: #999999;
}

.qa-input-full {
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    width: 100%;
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="text"].qa-input-full::-webkit-input-placeholder {
    color: red ;
    font-size: 80%;
    //font-family: PosLight;
}

input[type="text"].qa-input-full::-webkit-input-placeholder {
    color: red;
    font-size: 80%;
    //font-family: PosLight;
}

.qa-dropdown {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #E01E34;
    border: 1px solid #E01E34;
    padding: .20rem .75rem;
}

.qa-dropdown img {
    margin-top: -3px;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* background: url(../img/dropdown-2.svg); */
    /* background: url(../img/dropdown.svg); */
    /*background-position: 91.5% 50%; */
    background: #fff url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 24 24'><path fill='grey' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") no-repeat 95% 50%;
    margin-bottom: 1rem;
}

select.form-control:not([size]):not([multiple]) {
    height: 35px;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    width: 100%;
    padding: .25rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.styled-select {
    font-size: 12px;
    //font-family: 'PosLight';
}

.create-listing-buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.create-listing-next-button{
    background: #a6ce39;
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in;
    margin-top: 1rem;

    &:hover {
        background: #b6e23f;
        cursor: pointer;
    }
}

.create-listing-next-button:disabled,
create-listing-next-button[disabled] {
    background: #e2e2e2;
    cursor: initial;
}

.crete-listing-back-button{
    margin-top: 1rem;
    background: #a6ce39;
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in;

    &:hover {
        background: #b6e23f;
        cursor: pointer;
    }
}

.crete-listing-back-button:disabled,
crete-listing-back-button[disabled]{
    background: #e2e2e2;
    cursor: initial;
}

//Progres bar
.step-bar-container {
    max-width: 980px;
    margin: 1em;
}
.step-bar {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}
.step-bar__item {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    background-color: #dfdfdf;
    text-align: center;
    position: relative;
    border-right: 2px solid #fff;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}
.step-bar__item p,
.step-bar__item p:visited,
.step-bar__item p:hover {
    display: block;
    padding: 10px 15px 9px 25px;
    text-decoration: none;
    color: #333;
}
.step-bar__item:before,
.step-bar__item:after {
    content: "";
    height: 0;
    width: 0;
    border-width: 18px 0 18px 18px;
    border-style: solid;
    position: absolute;
    left: 100%;
    top: 0;
}
.step-bar__item:before {
    border-color: transparent transparent transparent #fff;
    left: 0;
}
.step-bar__item:after {
    border-color: transparent transparent transparent #dfdfdf;
    z-index: 1;
}
.step-bar__item:first-child:before {
    display: none;
}
.step-bar__item:last-child {
    border-right: none;
}
.step-bar__item:last-child:after {
    display: none;
}
.step-bar__item:hover {
    background-color: #d4d4d4;
}
.step-bar__item:hover:after {
    border-left-color: #d4d4d4;
}
.step-bar__item_active {
    background-color: #a6ce39;
    color: #fff;
    cursor: default;
    font-weight: bold;
    pointer-events: none;
}
.step-bar__item_active p,
.step-bar__item_active p:visited,
.step-bar__item_active p:hover {
    text-decoration: none;
    color: #fff;
}
.step-bar__item_active:after {
    border-color: transparent transparent transparent #a6ce39;
}
.step-bar__item_active:hover {
    background-color: #a6ce39;
}
.step-bar__item_active:hover:after {
    border-left-color: #a6ce39;
}
.step-bar_size_xl .step-bar__item p,
.step-bar_size_xl .step-bar__item p:visited,
.step-bar_size_xl .step-bar__item p:hover {
    padding: 10px 31px 9px 53px;
}
.step-bar_size_xl .step-bar__item:before,
.step-bar_size_xl .step-bar__item:after {
    border-width: 27px 0 27px 27px;
}

.checkbox-list-create-listing {
    list-style: none;
}

.create-listing-preview {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.details-card-create-listing {

    //border: 1px solid grey;
    //padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.create-listing-details-container {
    //border: 1px solid #e2e2e2;
    width: 100%;
    margin: 1rem auto;
    //padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //padding-bottom: 1rem;
}

.create-listing-details-header {
    grid-column: 1/5;
}

.create-listing-details-item {

}