
.ads-results-container{
  display: grid;
  column-count: 1;
  grid-template-columns: 1fr 28rem;
  margin-top: 1.5rem;
  // Otkomentarisi pading i zakomentarisi background za belu pozadinu
  //background-color: var(--color-grey-light-1);
  //padding: 2rem;


  &__sidebar {

    &__search {

      margin-left: 1rem;
      background-color: white;
      display: flex;
      align-items: center;
      border: 1px solid #bbbbbb;
      //margin: 2rem;
      //margin-top: 2rem;
      margin-right: 2rem;
      //margin-bottom: 1rem;
      padding: 1rem;
      border-radius: .3rem;
      justify-content: center;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      margin-bottom: 2rem;

      &__input {
        border: 1px solid var(--color-grey-light-4);
        border-right: none;
        padding: 1rem;
        font-size: inherit;

      }

      &__button {
        border: none;
        //border: 1px solid var(--color-grey-light-4);
        border-left: none;
        border-bottom-right-radius: .3rem;
        border-top-right-radius: .3rem;
        //background-color: #da1b0b;
        background-color: green;
        color: white;
        font-size: inherit;
        padding: 1.05rem;
        transition: all .3s;

        &:hover {
          cursor: pointer;
          background-color: #ba1f2c;
        }
      }
    }

  }

  &__header {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #bbbbbb;
    //margin: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
    padding: 1rem;
    //padding-top: 2rem;
    //padding-bottom: 2rem;
    border-radius: .3rem;

    &__header {
      margin-right: auto;
    }

    &__sort-by {
      margin-left: 1rem;
      margin-right: 1rem;
    }

  }
}

.ads-result-card {

  display: flex;
  margin: 2rem;
  margin-bottom: 0;
  background-color: white;

  &__left {

    height: 20rem;
    width: 28rem;

    &__image {
      border: 1px solid #bbbbbb;
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
      border-right: none;
      width: 28rem;
      height: 100%;
      object-fit: cover;

    }

  }

  &__right {
    border: 1px solid #bbbbbb;
    border-left: none;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    width: 100%;
    display: grid;

    &__text {
      font-size: 1.3rem;
      //font-weight: 400;
      color: var(--color-grey-dark-1);
    }

    &__top {
      border-bottom: 1px solid #bbbbbb;
      padding: 2rem;

      &__heading {
        font-size: 1.6rem;
        font-weight: bold;
        //letter-spacing: 1px;
        color: var(--color-grey-dark-1);
        margin-bottom: .3rem;
      }

      &__info-container {
        display: flex;
        align-items: center;
        margin-left: -.5rem;
        margin-bottom: 1rem;

        &__item {

          margin-right: 1.4rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: all .3s;

          &__icon {
            width: 1.45rem;
            height: 1.45rem;
            fill: var(--color-grey-dark-3);
          }

          &__button {
            border: none;
            color: var(--color-grey-dark-3);
            font-size: 1.2rem;
            background-color: transparent;
            //padding-bottom: 2px;
            margin-left: .2rem;
            display: inline-block;
            cursor: pointer;
            transition: all .3s;

            &-2 {
              border: none;
              color: var(--color-grey-dark-3);
              font-size: inherit;
              font-size: 1.2rem;
              background-color: transparent;
              //padding-bottom: 2px;
              display: inline-block;
              margin-left: .4rem;
              cursor: pointer;
              transition: all .3s;
            }
            //border-bottom: 1px solid currentColor;
          }
        }
      }

    }

    &__bottom {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;

      &__price {
        //flex: 1;
        margin-right: auto;
        font-size: 1.4rem;
        color: var(--color-grey-dark-1);
        font-weight: 600;
        // Razmisli o zelenoj
        //color: green;
      }
    }
  }
}

.ads-result-search-form-text {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-grey-light-4);

}

.ads-result-checkboxes-container {
  flex: 1;

}

.ads-result-checkboxes {
  margin-top: 1rem;

}

.checkbox-numbers {
  display: flex;
  align-items: center;
  //justify-content: space-around;
  //align-content: space-between;
  width: 23rem;
}

.checkbox-number {
  background-color: var(--color-grey-light-2);
  margin-left: auto;
  text-align: center;
  width: 2.4rem;
  border-radius: .3rem;
}