.listing-header-wrapper {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.listing-page-container{
  padding: 2rem;

}

.listing-page-top-container{
  margin-bottom: 2rem;
  display: flex;
}

.gallery-container{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 2rem;
}


.gallery-main-image {
  height: 30rem;
  width: 35rem;
  object-fit: cover;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px dotted lightgray;
}
.gallery-thumbnail-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-thumbnail-image {
  height: 6rem;
  width: 7.5rem;
  object-fit: cover;
}

.listing-details-heading{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-size: 1.3rem;
}

.listing-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-left: 1rem;
}

.listing-seller-data {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.listing-price {
  color: green;
  font-size: 1.5rem;
  font-weight: 600;

}

.listing-banner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 2rem;
}

.listing-banner {
  height: 6rem;
  align-self: flex-end;
  float: right;
  border: 1px dotted lightgray;
  padding: 1rem;
}
